{% extends "pages/base.html" %}
{% load static %}
{% block title %} Blockbuster {% endblock %}
{% block content %}

<!-- Slider Start -->
<section class="iq-main-slider p-0">
    <div id="tvshows-slider">
       {% for slider in slider_movie %} 
       {% if slider %}
       <div>
          <a href="{% url 'listing' slider.pk %}">  
             <div class="shows-img">
                <img src="{{slider.main_image.url}}" class="w-100" alt="">
                <div class="shows-content">
                   <h4 class="text-white mb-1">{{slider.title}}</h4>
                   <div class="movie-time d-flex align-items-center">
                      <div class="badge badge-secondary p-1 mr-2">{{slider.age_restriction}}</div>
                      <span class="text-white">{{slider.duration}}</span>
                   </div>
                </div>
             </div> 
          </a>
       </div>
       {% endif %}
       {% endfor %}
    </div>
    </div>
 </section>
 <!-- Slider End -->
 <!-- MainContent -->
 <div class="main-content">
    <section id="iq-favorites">
       <div class="container-fluid">
          <div class="row">
             <div class="col-sm-12 overflow-hidden">
                <div class="iq-main-header d-flex align-items-center justify-content-between">
                   <h2 class="main-title">Critically Acclaimed Films</h2>
                </div>
                <div class="favorites-contens">
                    <p>The critics agree: these movies rule. Crime dramas, romantic comedies,
                    <br>action thrillers, award-winning docs and so much more await amongst these critical faves.</p>
                   <ul class="favorites-slider list-inline  row p-0 mb-0">
                    
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </section>
    <section id="iq-upcoming-movie">
       <div class="container-fluid">
          <div class="row">
             <div class="col-sm-12 overflow-hidden">
                <div class="iq-main-header d-flex align-items-center justify-content-between">
                   <h4 class="main-title">Exciting Movies</h4>
                </div>
                <div class="upcoming-contens">
                   <ul class="favorites-slider list-inline row p-0 mb-0">
                     {% for movies in exciting_movies %} 
                     <li class="slide-item">
                         <a href="{% url 'listing' movies.pk %}">
                            <div class="block-images position-relative">
                               <div class="img-box">
                                  <img src="{{movies.image.url}}" class="img-fluid" alt="">
                               </div>
                               <div class="block-description">
                                  <h6>{{movies.title}}</h6>
                                  <div class="movie-time d-flex align-items-center my-2">
                                     <div class="badge badge-secondary p-1 mr-2">{{movies.age_restriction}}</div>
                                     <span class="text-white">{{movies.duration}}</span>
                                  </div>
                                  <div class="hover-buttons">
                                     <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                        Play
                                        Now</span>
                                  </div>
                               </div>
                               <div class="block-social-info">
                               </div>
                            </div>
                         </a>
                      </li>
                      {% endfor %}
                      
                      
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </section>
    <section id="iq-suggestede">
       <div class="container-fluid">
          <div class="row">
             <div class="col-sm-12 overflow-hidden">
                <div class="iq-main-header d-flex align-items-center justify-content-between">
                   <h4 class="main-title">Familiar Favorites</h4>
                </div>
                <div class="suggestede-contens">
                   <ul class="list-inline favorites-slider row p-0 mb-0">
                     {% for movies in familiar_favorites %} 
                     <li class="slide-item">
                         <a href="{% url 'listing' movies.pk %}">
                            <div class="block-images position-relative">
                               <div class="img-box">
                                  <img src="{{movies.image.url}}" class="img-fluid" alt="">
                               </div>
                               <div class="block-description">
                                  <h6>{{movies.title}}</h6>
                                  <div class="movie-time d-flex align-items-center my-2">
                                     <div class="badge badge-secondary p-1 mr-2">{{movies.age_restriction}}</div>
                                     <span class="text-white">{{movies.duration}}</span>
                                  </div>
                                  <div class="hover-buttons">
                                     <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                        Play
                                        Now</span>
                                  </div>
                               </div>
                               <div class="block-social-info">
                               </div>
                            </div>
                         </a>
                      </li>
                     {% endfor %}
                      
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </section>
 </div>
 
 <!-- MainContent End-->
{% endblock %}