<footer class="mb-0">
    <div class="container-fluid">
    <div class="block-space">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <ul class="f-link list-unstyled mb-0">
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'blockbuster' %}">Movies</a></li>
                <li><a href="{% url 'my-list' %}">My List</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4">
                <ul class="f-link list-unstyled mb-0">
                <li><a href="{% url 'about' %}">Privacy Policy</a></li>
                <li><a href="{% url 'terms-of-use' %}">Terms & Conditions</a></li>
             
                </ul>
            </div>
            <div class="col-lg-3 col-md-4">
                <ul class="f-link list-unstyled mb-0">
                
                </ul>
            </div>
            <div class="col-lg-3 col-md-12 r-mt-15">
                <div class="d-flex">
                <a href="#" class="s-icon">
                <i class="ri-facebook-fill"></i>
                </a>
                <a href="#" class="s-icon">
                <i class="ri-skype-fill"></i>
                </a>
                <a href="#" class="s-icon">
                <i class="ri-linkedin-fill"></i>
                </a>
                <a href="#" class="s-icon">
                <i class="ri-whatsapp-fill"></i>
                </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="copyright py-2">
    <div class="container-fluid">
        <p class="mb-0 text-center font-size-14 text-body">STREAMRO - 2022 All Rights Reserved</p>
    </div>
    </div>
</footer>